/**
* Black-Jack project
* Asaf G
 */


 @font-face {
    font-family: 'Determination';
    src: url('DTM-Mono.otf');
}

* {
    box-sizing: border-box;
}
body, html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    background: url('images/card-bg.jpg');
    background-size: cover;
}

.mainCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98%;
    width: 98%;
    margin-top: 1%;
}

#dealerDiv, #playerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48%;
    width: 98%;
}
#playerDiv {
    margin-top: 1%;
}

.myRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.topRow {
    height: 40%;
}
.bottomRow {
    height: 60%;
}

.deck, .bottomCol {
    height: 100%;
}

#speechBubble {
    height: fit-content;
    width: 25%;
    z-index: 1;
    border: 3px ridge rgb(9, 67, 15);
    box-shadow: 0 0 5px 6px rgb(32, 77, 28) inset;
    border-radius: 20px;
    background-image: linear-gradient(to bottom left,
      rgb(36, 145, 105),
      rgb(189, 204, 218),
      rgb(36, 145, 105),
      rgb(189, 204, 218));
}

#infoBox {
    text-align: center;
    padding: 2%;
    z-index: 2;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: 'Determination';
    color: rgb(17, 0, 0);
}

.cardDisplay {
    display: flex;
    flex-grow: 1;
    position: absolute;
    left: 0;
}

.card, #player1, #player2, #player3, #player4, #player5, 
#dealer1, #dealer2, #dealer3, #dealer4, #dealer5{
    height: 27.5vh;
    z-index: 2;
    transform-style: preserve-3d;
    transition: all ease 1s;
}

.scoreDiv {
    background: rgba(200, 200, 200, 0.3);
    border-radius: 20px;
    font-family: 'Acme', sans-serif;
    color: rgb(5, 5, 137);
    text-shadow: 0 0 3px azure;
    font-size: 1.7vw;
    font-weight: 800;
    height: 70%;
    padding: 1% 3%;
    text-align: center;
}

.myBtn {
    margin: 2%;
    color: white;
    border-radius: 50%;
    height: 7vw;
    aspect-ratio: 1 / 1;
}
.myBtn:hover {
    cursor: pointer;
}
#dealBtn {
    background: url("images/deal.png");
}
#hitBtn {
    background: url("images/hit.png");
}
#holdBtn {
    background: url("images/stand.png");
}
#dealBtn, #hitBtn, #holdBtn{
    background-size: cover;
}

#betDiv {
    background: rgba(175, 200, 175, 0.4);
    border-radius: 7px;
    width: 20%;
    padding: 2% 0;
    font-family: 'Aldrich', sans-serif;
    color: black;
    text-shadow: 0px 0px 1px springgreen;
    font-size: 1.6vw;
    font-weight: bold;
    text-align: center;
}

#betDiv input {
    text-align: center;
    background: navajowhite;
    color: seagreen;
    text-shadow: 0 0 3px black;
    width: 36%;
}

.shekel {
    font-size: 1.6vw;
    font-weight: 800;
}

@media (max-width: 1300px) {
    .card, .deck {
        height: 22vh;
    }
}

@media (max-width: 1000px) {
    #infoBox {
        font-size: 1.5vw;
    }
    .scoreDiv {
        font-size: 2.5vw;
    }
    #betDiv {
        height: 60%;
    }
    .cardDisplay {
        margin-left: -5%;
    }
    .card, .deck {
        height: 18vh;
    }
}

@media (max-width: 800px) {
    #infoBox {
        margin-top: 15%;
    }
    #speechBubble {
        height: 80%;
    }
    .card, .deck {
        height: 15vh;
    }
    .scoreDiv {
        height: 50%;
    }
    .myBtn {
        height: 10vw;
    }
}

@media (max-width: 580px) {
    #speechBubble {
        width: 35%;
    }
    #infoBox {
        font-size: 1.9vw;
        margin-top: 5%;
    }
    #betDiv {
        height: 50%;
    }
    .myBtn {
        height: 13vw;
    }
    .card, .deck {
        height: 11vh;
    }
    .scoreDiv {
        height: 50%;
    }
}
